table,th,td{
    color: whitesmoke;
    border: solid 1px whitesmoke;
    font-size: larger;
    word-wrap: break-word;         
    overflow-wrap: break-word;
}

table{
    table-layout: fixed;
    width: 100%;
    position: absolute;
    top: 25%;
    border: none;
}

input{
    width: 33%;
    height: 100%;
    border: 1px solid whitesmoke;
    font-size: x-large;
    color: white;
}

.submit_add{
    color: white;
    border: 1px solid whitesmoke;
    font-size: x-large;
    position: absolute;
    top: 18.5%;
    right: 14.7%;
    height: 6%;
    width: 5%;
}

.submit_modify
{
    border: none;
    text-align: left;
}

.new_record{
    width: 60%;
    height: 6%;
    position: absolute;
    top: 18.5%;
}

button[name="delete"] {
    float: right;
    background: white;
    height: 30px; 
    width: 30px;
    font-size:auto;
}

.input_t{
    height: 100%;
    width: 100%;
    border: none;
    text-align: center;
}